/* Updated 2023-11-02 */

.dashboard {
    font-family: inherit;
    padding-left: 25px !important;
    padding-right: 25px !important;
    padding-top: 20px !important;
    /* max-width: 100%; */
}

.dashboard h2 {
    border-bottom-style: dotted !important;
    border-width: 1px !important;
    padding-bottom: 3px !important;
}


/* Get rid of the parent bullet */
.dashboard > ul > li::marker {
    display: none !important;
}

.dashboard > ul > li {
    padding-left: 0p !important;
}

.dashboard > ul {
    list-style: none;
    display: flex;
    column-gap: 50px;
    flex-flow: row wrap;
}

.dashboard > ul > li {
    min-width: 250px;
    width: 15%;
}

/* Dataview support */
.dashboard ul.dataview {
    row-gap: 0px !important;
    list-style-type: disc !important;
}

/* My custom edits */
.dashboard ul li {
    font-weight: bold;
}
.dashboard ul ul li {
    font-weight: normal;
}
